* {
	box-sizing: border-box;
	border: none;
}

body,html{
	margin: 0
}


figure {
	margin: 0
}
.mom{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.sqiggly--black{
	background-image: url("images/blackwave.svg");
	width: 168px;
  	height: 16px;
}

.sqiggly--white{
	background-image: url("images/whitewave.png");
	width: 98px;
	height: 9px;
	margin-top: 10.5px;
	margin-bottom:26px;
}

.hero{
	display: flex;
	flex-flow: column wrap;
	background-image: url("images/Skatesky.svg");
	width: 100%;
    height: 628px;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
}

.hero__logo{
	align-self: flex-start;
}

.hero__nav{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 10%;
}

.hero__nav ul{
	display: flex;
	justify-content: center;
	width: 45%;
  margin: 0;
}

.hero__nav ul li {
	margin: 10px;
  padding: 10px;
  width: 70px;
	list-style: none;
  text-align:center;
  display: inline-block;
	font: normal bold 16px/22px open sans;
}

.hero__nav ul li a{
	text-decoration: none;
	color:white;
	transition-duration: 1s;
	padding: 20px;
}

.hero__nav ul li a:hover{
	font-size: 21px;
}

.hero__title{
	display: flex;
	width: 465px;
	height: 262px;
	margin-left: 109px;
	margin-bottom: 16px;
	letter-spacing: 14px;
	color: #444561;
	font: normal bold 84px/80px open sans;
} 

.hero__button {
	width: 174px;
	height: 48px;
	margin-left: 120px;
	background: #22D1AD;
	letter-spacing: 2px;
	color:white;
	transition-duration: .5s;
	font: normal bold 18px/25px open sans;
}

.hero__button:hover{
	background: rgb(40, 247, 205);
}

.hero__button:active{
	background: rgb(24, 155, 129);
}

.arrow{
	margin: 0 0 5px 0;
}

/* The Three Images */

.imageAdvert{
	display: flex;
	justify-content: center;
	margin-top: 44px;
}

.imageAdvert__text{
	width: 183px;
    height: 77px;
	margin: 0;
	letter-spacing: 6px;
	text-align: center;
	color: white;
	font: normal bold 28px/38px open sans;
}

.imageAdvert__text--italic{
	font-style: italic;
}

.imageAdvert__imageOne{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-image: url("images/PinkBoards.png");
	width: 300px;
  	height: 400px;
	
}

.imageAdvert__imageTwo{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-image: url("images/Whiteback.png");
	width: 300px;
  	height: 400px;
	}

.imageAdvert__pricetag{
	width: 42px;
	height: 33px;
	font: normal normal 24px/0 open sans;
	padding:10px;
	color: #BA7281;
	align-self: flex-start;
	margin-top:10px;
	margin-bottom: auto;
}


.imageAdvert__button{
	width: 100px;
	height: 100px;
	margin-bottom: 27px;
	background:#22D1AD; 
	 
	border-radius: 50%;
	color:white;
	letter-spacing: 2px;
	transition-duration: .5s;
	font: normal bold 18px/25px open sans;
}

.imageAdvert__button:hover{
	background: rgb(40, 247, 205);
}

.imageAdvert__button:active{
	background: rgb(24, 155, 129);
}

.imageAdvert__imageThree{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-image: url("images/NobodyToldme.png");
	width: 300px;
    height: 400px;
}

/* "Who We are" */

.story{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top:90px;	
}

.story__title{
	margin: 0;
	width: 392px;
  height: 66px;
	text-align: center;
	font: normal bold 48px/65px open sans;
	margin-bottom: 0;
	letter-spacing: 8px;
	color: #444561;
}

.story__text{
	width: 901px;
  height: 108px;
	text-align: center;
	font: normal 400 24px/36px Source Sans Pro;
	color: #444561;
}

.story__text--bold{
	font-weight: 900;
	font-style: italic;
}

.story__text--hyperlink{
	color:teal;
	text-decoration: underline;
	transition: .5s;
}

.story__text--hyperlink:hover{
 color: rgb(40, 247, 205);
}

.story__text--hyperlink:active{
	color: rgb(24, 155, 129);
}

/* Lady Cruser */

#sqiggly--blackoutside{
	margin: 73px 0;
}

.advert{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column wrap;
	width: 900px;
    height: 360px;
	background: #70D6D8;
	margin-top: 95px;
}

.advert__quote{
	width: 290px;
  height: 18px;
	font: normal 600 18px/18px Source Sans Pro;
	color:white;
	margin: 0;
	margin-left: 30px;
}

.advert__title{
	width: 256px;
  height: 131px;
	margin-top: 4.5px;
	margin-bottom: 13px;
	font: normal bold 48px/65px open sans;
	color:white;
	margin-left: 30px;
	
}

.advert__image{
	background-image: url("images/BlueSkatetmap.png");
	width: 570px;
  height: 344px;
}

.advert__button{
	width: 193px;
  height: 48px;
	color:white;	
	background: #22D1AD;
	font: normal bold 16px/22px open sans;
	letter-spacing: 1px;
	transition-duration: .5s;
	margin-left: 30px;
}

.advert__button:hover{
	background: rgb(40, 247, 205);
}

.advert__button:active{
	background: rgb(24, 155, 129);
}


/* 4 Images */
.prettyimages{
	display: flex;
	justify-content: center;
	margin-bottom: 74px;
		
}

.prettyimage__imageOne{
	background-image: url("images/D.png");
	width: 225px;
	height: 336px;
	
}

.prettyimage__imageTwo{
	background-image: url("images/T.png");
	width: 225px;
	height: 336px;
}

.prettyimage__imageThree{
	background-image: url("images/W.png");
	width: 225px;
	height: 336px;
}

.prettyimage__imageFour{
	background-image: url("images/O.png");
	width: 225px;
	height: 336px;
}

/* footer */

footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 154px;
	margin-top: 71px;
	background: #F1F0F3;
}

.footer__copyright{
 color: #9394A1;
 font: normal normal 16px/22px open sans;
}

.footer__links{
	display: flex;
	justify-content: space-between;
	width: 40%;
	padding-left: 0;
	list-style: none;
	text-decoration: underline;
	font: normal normal 16px/22px open sans;
	
}

.footer__links li a{
	text-decoration:none;
	color: #9394A1;
	padding: 25px;
}


.footer__socialMedia{
	width: 100px;
	display:flex;
}

.footer__facebook{
	display: block;
	background-image: url('images/facebook.svg');
	width: 36px;
   	height: 36px; 
	border-radius: 50%;
	margin:  auto;
}

.footer__twitter{
	display: block;
	background-image: url('images/twitter.svg');
	width: 36px;
    height: 36px;
	border-radius: 50%;
}