*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width:  100%;
}

 .black , .white{ 
    height: 125px;
    width: 125px;
} 

 .black{
    background-color: black;
}


.cont{
    border: solid black 1px;
    height: 1002px;
    width: 1002px;
    margin: 100px auto;
}

h1,h2{
    text-align: center;
}
/* Flex */

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

/* Grid */
.white--grid{
    background-color: aqua;
    grid-area: white--grid;
}

.black--grid{
    grid-area: black--grid;
    background-color: red;
}

.grid{
    display: grid;
    grid-template-columns: 125px 125px 125px 125px 125px 125px 125px 125px;
    grid-template-rows: auto;
    grid-template-areas: 
    "black--grid white--grid black--grid white--grid black--grid white--grid black--grid white--grid"
    "white--grid black--grid white--grid black--grid white--grid black--grid white--grid black--grid"
    "black--grid white--grid black--grid white--grid black--grid white--grid black--grid white--grid"
    "white--grid black--grid white--grid black--grid white--grid black--grid white--grid black--grid"
    "black--grid white--grid black--grid white--grid black--grid white--grid black--grid white--grid"
    "white--grid black--grid white--grid black--grid white--grid black--grid white--grid black--grid"
    "black--grid white--grid black--grid white--grid black--grid white--grid black--grid white--grid"
    "white--grid black--grid white--grid black--grid white--grid black--grid white--grid black--grid"
}

