*{
    border: dotted black 1px
}

 html {
    margin: auto;
    border: solid black 1px;
}

body {
    border: solid blue 1px;
    background-image: url('images/high-resolution-galaxy-desktop-background-20.jpg') ;
    background-size: 90%;
    object-fit: fill;
}

.nav, .nav__list{
    display: flex;
    flex-flow: row wrap;
}

.nav{
    align-self: flex-end;
    justify-content: flex-end;
}

.nav__list{
    list-style: none;
    font-size: 100%;
}

.nav__list a{
    margin: 10px;
    padding: 20px;
}

.mom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.main{
    max-height: 100%;
    max-width: 90%;
    background-color: rgba(152, 251, 152, 0.596);
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.main__title {
    margin: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 100px
}

.main__intro{
    display: inline-block;
    text-align: center;
    font-size: 40px;
    margin: 2%
}

.main__picture {
    height: 35%;
    width: 35%;
    margin: 0 auto;
    border-radius: 50%;
    margin: auto;
    margin: 2%;
}


.why {
    margin-top: 100px;
    align-self: flex-end;
}

.why__title {
    text-align: right;
}