/* 
selector{
    1.Dimensions
    2.Margin/Padding/Border
    3.Display
    4.Position
    5.Background
    6.Font
    7.Other 
}
*/

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* * {
    border: solid black 1px;
} */

.nav {
    background: #363b3e;
}
.nav__list {
    padding: 0;
    margin: 0 1em;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}
.list__listitem {
    margin:  1em;
    padding: .7em;
}
.nav__a{
    padding: .7em 1em ;
    text-decoration: none;
    color: #9DE86F;
    font-family: "Roboto" ;
    font-weight: 700 ;
}

.nav__a:hover {
    border: solid 1px #9DE86F ;
    transition:  1s;
}