.slideshow {
    max-width: 1000px;
    border: solid black 1px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content: space-between;
  }
  
  .hidden {
    display: none;
  }
  
 